
@import 'main/_mixin'
@import 'main/_variable'

*
    font-family: 'Roboto', sans-serif
.container
    width: 1150px
    margin: 0 auto

@import 'block/_header'
@import 'block/_promo'

@import 'media/_promo'
